<div class="m-5 gap-4 flex justify-evenly flex-wrap">
  <div
    dir="rtl"
    class="relative parent rounded-md transition-all z-10 flex flex-col bg-gray-100 p-2 m-2 w-fit shadow-lg pt-5"
  >
    <div class="flex justify-between items-center">
      <h3 class="text-3xl font-bold">عنوان رئيسي</h3>
      <img width="40" height="40" src="/assets/images/icon.png" alt="logo" />
    </div>
    <div class="flex my-2">
      <h1 class="px-2 py-1">رقم الشكوى:</h1>
      <p class="bg-blue-100 px-2 py-1 text-primary rounded-md font-bold">10</p>
      <h1 class="px-2 py-1">الحالة :</h1>
      <p class="bg-green-100 px-2 py-1 text-green-700 rounded-md">تم الرد</p>
    </div>
    <div class="my-2">
      <hr />
    </div>
    <div class="flex flex-col items-start">
      <h1 class="text-xl font-semibold">نص الشكوى</h1>
      <p class="max-w-sm">
        تيست تيست تيست تيست تيست تيست تيست تيست تيست تيست تيست تيست تيست تيست
        تيست تيست تيست تيست تيست تيست تيست تيست تيست تيست تيست تيست تيست تيست
        تيست تيست تيست تيست تيست
      </p>
    </div>
    <div class="flex w-full items-center justify-center p-2">
      <button
        class="px-9 py-2 bg-primary text-white w-full text-lg rounded-md"
        (click)="openAddEditEmpForm()"
      >
        عرض
      </button>
    </div>
  </div>
  <div
    dir="rtl"
    class="relative parent rounded-md transition-all z-10 flex flex-col bg-gray-100 p-2 m-2 w-fit shadow-lg pt-5"
  >
    <div class="flex justify-between items-center">
      <h3 class="text-3xl font-bold">عنوان رئيسي</h3>
      <img width="40" height="40" src="/assets/images/icon.png" alt="logo" />
    </div>
    <div class="flex my-2">
      <h1 class="px-2 py-1">رقم الشكوى:</h1>
      <p class="bg-blue-100 px-2 py-1 text-primary rounded-md font-bold">10</p>
      <h1 class="px-2 py-1">الحالة :</h1>
      <p class="bg-red-100 px-2 py-1 text-red-700 rounded-md">لم يتم الرد</p>
    </div>
    <div class="my-2">
      <hr />
    </div>
    <div class="flex flex-col items-start">
      <h1 class="text-xl font-semibold">نص الشكوى</h1>
      <p class="max-w-sm">
        تيست تيست تيست تيست تيست تيست تيست تيست تيست تيست تيست تيست تيست تيست
        تيست تيست تيست تيست تيست تيست تيست تيست تيست تيست تيست تيست تيست تيست
        تيست تيست تيست تيست تيست
      </p>
    </div>
    <div class="flex w-full items-center justify-center p-2">
      <button
        class="px-9 py-2 bg-primary text-white w-full text-lg rounded-md"
        (click)="openAddEditEmpForm()"
      >
        عرض
      </button>
    </div>
  </div>
  <div
    dir="rtl"
    class="relative parent rounded-md transition-all z-10 flex flex-col bg-gray-200 p-2 m-2 w-fit shadow-lg pt-5"
  >
    <div class="flex justify-between items-center">
      <h3 class="text-3xl font-bold">عنوان رئيسي</h3>
      <img width="40" height="40" src="/assets/images/icon.png" alt="logo" />
    </div>
    <div class="flex my-2">
      <h1 class="px-2 py-1">رقم الشكوى:</h1>
      <p class="bg-blue-100 px-2 py-1 text-primary rounded-md font-bold">10</p>
      <h1 class="px-2 py-1">الحالة :</h1>
      <p class="bg-green-100 px-2 py-1 text-green-700 rounded-md">تم الرد</p>
    </div>
    <div class="my-2">
      <hr />
    </div>
    <div class="flex flex-col items-start">
      <h1 class="text-xl font-semibold">نص الشكوى</h1>
      <p class="max-w-sm">
        تيست تيست تيست تيست تيست تيست تيست تيست تيست تيست تيست تيست تيست تيست
        تيست تيست تيست تيست تيست تيست تيست تيست تيست تيست تيست تيست تيست تيست
        تيست تيست تيست تيست تيست
      </p>
    </div>
    <div class="flex w-full items-center justify-center p-2">
      <button
        class="px-9 py-2 bg-primary text-white w-full text-lg rounded-md"
        (click)="openAddEditEmpForm()"
      >
        عرض
      </button>
    </div>
  </div>
  <div
    dir="rtl"
    class="relative parent rounded-md transition-all z-10 flex flex-col bg-gray-200 p-2 m-2 w-fit shadow-lg pt-5"
  >
    <div class="flex justify-between items-center">
      <h3 class="text-3xl font-bold">عنوان رئيسي</h3>
      <img width="40" height="40" src="/assets/images/icon.png" alt="logo" />
    </div>
    <div class="flex my-2">
      <h1 class="px-2 py-1">رقم الشكوى:</h1>
      <p class="bg-blue-100 px-2 py-1 text-primary rounded-md font-bold">10</p>
      <h1 class="px-2 py-1">الحالة :</h1>
      <p class="bg-red-100 px-2 py-1 text-red-700 rounded-md">لم يتم الرد</p>
    </div>
    <div class="my-2">
      <hr />
    </div>
    <div class="flex flex-col items-start">
      <h1 class="text-xl font-semibold">نص الشكوى</h1>
      <p class="max-w-sm">
        تيست تيست تيست تيست تيست تيست تيست تيست تيست تيست تيست تيست تيست تيست
        تيست تيست تيست تيست تيست تيست تيست تيست تيست تيست تيست تيست تيست تيست
        تيست تيست تيست تيست تيست
      </p>
    </div>
    <div class="flex w-full items-center justify-center p-2">
      <button
        class="px-9 py-2 bg-primary text-white w-full text-lg rounded-md"
        (click)="openAddEditEmpForm()"
      >
        عرض
      </button>
    </div>
  </div>
</div>
